body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.orange{
    color: orange;
}
.flexible-container{
    display: flex;

}
.half-width{
    width: 50%;
    padding-left: 4%;
}
.half-width img{
    width: 75%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    transition: .8s ease;
}
.link-button:hover{
    box-shadow: 3px 4px 6px darkred;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
hr{
    width: 60%;
    margin-top: 105px;
    margin-bottom: 105px;
}
.button2{
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 12px 60px;
    border-radius: 5px;
    background-image: linear-gradient(orange, #AA336A
    );
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:bottom right;
    background-size: cover;

}
p{
    color: rgb(104, 103, 103);
}
.experience-option{
    width: 40%;
    box-shadow: 12px 12px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
#beginner-web-dev{
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#full-stack-dev{
    border-left: 8px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
} 